*{
    margin: 0;
    padding: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

body{
    height: 100vh;
    width: 100vw;
    background-color: #1c1c1c;
}

#container{
    height: 100vh;
    width: 400px;
    margin: 20px auto;
    display: flex;
    flex-direction: column;
}

input{
    flex-grow: 1;
    background-color: #1c1c1c;
    outline: none;
    border: 0;
    color: white;
    text-align: right;
    padding: 0 30px;
    font-size: 64px;
}

.button-grid{
    flex-grow: 2;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr;
    gap: 5px;
}

button{
    height: 80%;
    width: 80%;
    border-radius: 50%;
    border: 0;
    font-size: 28px;
    color: white;   
    background-color: grey;
    cursor: pointer;
    transition-duration: 200ms;
}

button:active{
    transform: scale(0.85);
}

.grey-button{
    background-color: grey;
    color: #1c1c1c;
}

.yellow-button{
    color: white;
    background-color: rgb(214, 169, 47);
}

.zero{
    grid-column: span 2;
}

